.header{
    height: 8vh;
    text-align: center;
    background-color: grey;
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    align-items: flex-start;
}

#logo{
    height: 8vh;
    width: 8vh;
}

.logo-container{
    left: 1vw;
}

.name{
    align-items: center;
    flex: 5;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav li{
    margin: 0 0 0 15px;
}

#profileImg{
    height: 5vh;
    width: 5vh; 
}


