.gameCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.createGame{
    position: absolute;
    top: 36%;
    left: 31%;
}

.wrapper{
    position: relative;
}
